<!-- <div class="container mt-4">
  <app-spinner *ngIf="spinner"></app-spinner>
    <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let item of listaImagenes">
      <div class="card">
        <img [src]="item.largeImageURL" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.tags}}</h5>
          <p class="card-text">{{item.user}}</p>
          <a [href]="item.largeImageURL" target="_blank">Abrir</a>
        </div>
      </div>
    </div>
  </div> -->
<div *ngIf="listaImagenes.length>0">
  <ul class="pagination pagination-lg contenedor-pagination">
    <li class="page-item" *ngIf="paginaAnteriorClass()">
      <a class="page-link" (click)="anteriorPagina()">&laquo;Anterior</a>
    </li>
    <li class="page-item" *ngIf="paginaSiguienteClass()">
      <a class="page-link" (click)="siguientePagina()">Siguiente&raquo;</a>
    </li>
  </ul>
</div>
<div class="contenedor-spinner">
  <app-spinner *ngIf="spinner"></app-spinner>
</div>

<div class="contenedor-principal">
  <div class="grid-cards">
    <div class="tarjeta" *ngFor="let item of listaImagenes">
      <figure>
        <img [src]="item.largeImageURL" alt="" />
      </figure>
      <h3 class="card-title">{{item.tags}}</h3>
      <p class="card-text">{{item.user}}</p>
      <a [href]="item.largeImageURL" target="_blank" class="btn">
        Leer más
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
      </a>
    </div>
  </div>
</div>