.contenedor-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contenedor-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.grid-cards {
    display: grid;
    grid-template-areas: "img1 img1 img2 img3"
                        "img4 img5 img6 img6"
                        "img7 img7 img8 img9"
                        "img10 img11 img12 img12"
                        "img13 img13 img14 img15"
                        "img16 img17 img18 img18"
                        "img19 img19 img20 img21"
                        "img22 img23 img24 img24"
                        "img25 img25 img26 img27"
                        "img28 img29 img30 img30"
                        ;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 95%;
    justify-content: center;
    align-items: start;
}

.grid-cards .tarjeta:nth-child(1){
    grid-area: img1;
}
.grid-cards .tarjeta:nth-child(6){
    grid-area: img6;
}
.grid-cards .tarjeta:nth-child(7){
    grid-area: img7;
}
.grid-cards .tarjeta:nth-child(12){
    grid-area: img12;
}
.grid-cards .tarjeta:nth-child(13){
    grid-area: img13;
}
.grid-cards .tarjeta:nth-child(18){
    grid-area: img18;
}
.grid-cards .tarjeta:nth-child(19){
    grid-area: img19;
}
.grid-cards .tarjeta:nth-child(24){
    grid-area: img24;
}
.grid-cards .tarjeta:nth-child(25){
    grid-area: img25;
}
.grid-cards .tarjeta:nth-child(30){
    grid-area: img30;
}
.btn{
    margin-left: 1rem;
    background-color: rgb(255, 0, 225);
    padding: .5rem 1rem;
    color: white;
    cursor: pointer;
    margin-bottom: 1rem;
}

.tarjeta a .icon {
    min-width: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    margin-left: .5rem;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
.tarjeta {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 2rem;
    border-radius: .9rem;
    height: 100%;
}
.tarjeta a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }

  .tarjeta:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

.tarjeta:hover{
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.9); /* Sombra suave al hacer hover */
}
.tarjeta img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
.tarjeta h3{
    padding-left: .5rem;
    margin-top: .5rem;
}
.tarjeta p{
    padding-left: .5rem;
    margin-top: .5rem;
}

.tarjeta .card-title {
    font-size: 1.6rem;
    /* ajusta el tamaño del título según tus necesidades */
}

.tarjeta .card-text {
    font-size: 1.4rem;
    /* ajusta el tamaño del texto según tus necesidades */
}